.language{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 40px;
}
.global-icon{
    font-size: 32px;
    color: #151515;
    margin-right: 10px;
}
.select{
    cursor: pointer;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #151515;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 10px;
}
.select option{
    font-size: 20px;
    font-weight: 400;
}